:root {
    --red: #DF013A;
    --black: #444;
    --light-color: #777;
    --bg-color:#EFF5FB;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}
.about .row .box-container .box{
    flex:1 1 18rem;
    text-align: center;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.about .row .box-container .box h3{
    font-size: 5rem;
    color:var(--black);
    line-height: 1.1;
}

.about .row .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    padding:.5rem 0;
}
.portfolio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.portfolio .box-container .box{
    height: 25rem;
    border-radius: .5rem;
    overflow:hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    border:1rem solid transparent;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    display: grid;
    place-items: center;
    transform: scale(0);
}

.portfolio .box-container .box:hover .content{
    transform: scale(1);
}

.portfolio .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: .3s;
}

.portfolio .box-container .box:hover .content h3{
    transform: translateY(0rem);
    opacity: 1;
}
.heading{
    text-align: center;
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span{
    color:var(--red);
    text-transform: uppercase;
}